@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Inter:wght@400;700&display=swap');


:root {
  --clr-primary700: #082032;
  --clr-primary600: #2C394B;
  --clr-primary500: #334756;
  --clr-primary400: #728797;

  --clr-secondary: #FF4C29;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: inherit;
  font-weight: 900;
  line-height: 1;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
}

.App {
  background-color: var(--clr-primary700);
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: inherit;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-home {
  background-color: var(--clr-primary600);
  display: flex;
  justify-content: center;
  width: max(55%, 25rem);
  height: 25rem;
  border-radius: 1.5rem;
}

.welcome {
  background-color: var(--clr-primary400);
  padding: 1rem;
  border-radius: 1.5rem 0 0 1.5rem;
  flex-grow: 1;
}

.welcome img {
  display: block;
  width: 2.5rem;
}

.tagline {
  height: 92%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 18%;
}

.enter-panel {
  margin: auto;
}

.tagline h2 {
  font-size: 1.2rem;
}

.tagline h2:last-child {
  font-weight: 400;
}

.enter-panel {
  height: 100%;
  flex-grow: 3;
}

.tab {
  width: 50%;
  height: 2.5rem;
  border: none;
  background-color: var(--clr-primary500);
  font: inherit;
  color: inherit;
  cursor: pointer;
  transition: all 0.2s;
}

.top-right-round {
  border-radius: 0 1.5rem 0 0;
}

.home-btn-sel {
  background-color: var(--clr-primary600);
  font-weight: 700;
  transition: all 0.2s;
}

.inset-shadow {
  box-shadow: 0.25px 0.25px 3px rgba(0, 0, 0, 0.722) inset;
}

input {
  width: min(80%, 18rem);
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  font-family: inherit;
  border: none;
  outline: none;
}

.enter-contain {
  height: 85%;
  flex-direction: column;
}

.enter-contain button {
  width: min(80%, 20rem);
  border-radius: 1.5rem;
  height: 2.7rem;
  background-color: var(--clr-secondary);
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  border: none;
  margin-top: 1.5rem;
  box-shadow: 0.25px 0.25px 3px rgba(0, 0, 0, 0.593);
}

.enter-contain button:hover {
  background-color: #fb3a13;
}